.event {
  cursor: pointer;
}

.circle {
  margin: 10px;
  width: 200px;
  height: 200px;
}

.circle-soil {
  margin-left: 30px;
  background-color: #c2b480;
  border-radius: 50%;
  width: 70%;
  height: 70%;
}

.internal-image {
  margin-left: 30px;
  width: 70%;
  height: 70%;
}

.internal-image-soil {
  margin-left: 20px;
  margin-top: 15px;
  width: 70%;
  height: 70%;
}
