.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-card {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-meat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.answer-buttons {
  display: flex;
  align-items: center;
}
